In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

pd.set_option("display.max_columns", None)

In [2]:
data = pd.read_csv('../data/processed/cleaned_break_data.csv')
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,HOUR_IMPACTED,UNITS_IMPACTED,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,GLOBALID
829,-80.470430,43.453356,8860,1908,2014-02-28 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,11272,MELROSE AVE,26270,150.0,1953.0,CI,N,c0bb8319-d3fa-4921-a93c-e865d3784958
1695,-80.461893,43.428811,9756,1421,2009-12-13 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,13311,MASSEY AVE,25590,150.0,1958.0,CI,Y,8a7d322f-b9df-4e0b-ba3d-4b1f68fe8526
1241,-80.531868,43.450773,9282,467,2003-03-04 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,20774,WESTGATE WALK,42050,150.0,1959.0,CI,Y,72e7180c-906f-425d-b209-36f96cddcbab
1688,-80.454764,43.433272,9749,232,2004-07-25 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,13297,THIRD AVE,37770,150.0,1953.0,CI,N,f4747b64-d98d-4e05-a1e0-0092dace12de
2269,-80.511413,43.441697,10353,204,2005-01-30 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,8752,EDGEWOOD DR,135920,150.0,2017.0,PVCO,N,08651a64-d668-4e85-aa30-cf167b766071

In [3]:
data.shape

(2544, 26)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LONGITUDE                    2544 non-null   float64
 1   LATITUDE                     2544 non-null   float64
 2   OBJECTID                     2544 non-null   int64
 3   WATBREAKINCIDENTID           2544 non-null   int64
 4   INCIDENT_DATE                2544 non-null   object
 5   BREAK_TYPE                   2544 non-null   object
 6   HOUR_IMPACTED                2544 non-null   object
 7   UNITS_IMPACTED               2544 non-null   object
 8   STATUS                       2544 non-null   object
 9   BREAK_NATURE                 2544 non-null   object
 10  BREAK_APPARENT_CAUSE         2544 non-null   object
 11  POSITIVE_PRESSURE_MAINTANED  2544 non-null   object
 12  AIR_GAP_MAINTANED            2544 non-null   object
 13  MECHANICAL_REMOVAL           2544 non-null   object
 14  FLUSHING_EXCAVATION          2544 non-null   object
 15  HIGHER_VELOCITY_FLUSHING     2544 non-null   object
 16  ANODE_INSTALLED              2544 non-null   object
 17  BREAK_CATEGORIZATION         2544 non-null   object
 18  ROADSEGMENTID                2544 non-null   int64
 19  STREET                       2544 non-null   object
 20  ASSETID                      2544 non-null   int64
 21  ASSET_SIZE                   2544 non-null   float64
 22  ASSET_YEAR_INSTALLED         2544 non-null   float64
 23  ASSET_MATERIAL               2544 non-null   object
 24  ASSET_EXISTS                 2544 non-null   object
 25  GLOBALID                     2544 non-null   object
dtypes: float64(4), int64(4), object(18)
memory usage: 516.9+ KB

In [5]:
from datetime import datetime, date
data['INCIDENT_DATE'] = pd.to_datetime(data['INCIDENT_DATE']).dt.date

In [6]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,HOUR_IMPACTED,UNITS_IMPACTED,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,GLOBALID
717,-80.462374,43.451365,8740,434,2003-01-30,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,9925,WEDGEWOOD DR,41460,150.0,1958.0,CI,Y,04970815-1513-4ba3-bd3d-04a286d165d2
417,-80.496607,43.437311,8419,1677,1985-01-01,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6434,BRANT CRES,136130,150.0,2017.0,PVCO,N,8e55a4bc-938b-4fc7-9a61-cf87cb97b564
292,-80.521267,43.418415,8293,871,2001-10-16,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6129,FORESTWOOD DR,15020,150.0,1968.0,DI,Y,0a24327a-b644-4a02-a919-5bf1cc9b4f59
424,-80.506974,43.438912,8426,1672,2011-12-15,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,8657,MARLBOROUGH AVE,25520,150.0,1952.0,CI,Y,14be23cc-17e8-40e5-95cd-e8e01f0f880b
1466,-80.490677,43.444917,9519,1675,2011-12-15,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6610,COURTLAND AVE E,78018,150.0,2011.0,PVC,Y,543e24ce-1815-469a-a7be-d62fabeb3534

Possible columns to drop:
- Global ID
- Units Impacted
- Hours Impacted
- possibly more after further analysis...

In [7]:
data['HOUR_IMPACTED'].value_counts()

8-12 hours     2384
4-8 hours       143
20-24 hours      10
16-20 hours       5
12-16 hours       2
Name: HOUR_IMPACTED, dtype: int64

In [8]:
data['UNITS_IMPACTED'].value_counts()

0            2354
0-50          182
50-100          3
100-150         2
200-10000       2
47              1
Name: UNITS_IMPACTED, dtype: int64

Can't really see these variables being too valuable for any sort of model so we can go ahead and remove them along with Global ID

In [9]:
data.drop(['GLOBALID', 'HOUR_IMPACTED', 'UNITS_IMPACTED'], axis=1, inplace=True)

In [10]:
data.isna().sum() # just double checking even though we already cleaned the data in our other notebook

LONGITUDE                      0
LATITUDE                       0
OBJECTID                       0
WATBREAKINCIDENTID             0
INCIDENT_DATE                  0
BREAK_TYPE                     0
STATUS                         0
BREAK_NATURE                   0
BREAK_APPARENT_CAUSE           0
POSITIVE_PRESSURE_MAINTANED    0
AIR_GAP_MAINTANED              0
MECHANICAL_REMOVAL             0
FLUSHING_EXCAVATION            0
HIGHER_VELOCITY_FLUSHING       0
ANODE_INSTALLED                0
BREAK_CATEGORIZATION           0
ROADSEGMENTID                  0
STREET                         0
ASSETID                        0
ASSET_SIZE                     0
ASSET_YEAR_INSTALLED           0
ASSET_MATERIAL                 0
ASSET_EXISTS                   0
dtype: int64

In [11]:
data['ASSET_MATERIAL'].value_counts()

CI      1575
DI       531
PVC      320
PVCO      60
CPP       19
XXX       14
HDPE      11
AC         9
PVCB       2
COP        2
PE         1
Name: ASSET_MATERIAL, dtype: int64

In [12]:
data['ASSETID'].nunique()

1309

In [13]:
num_break = {}

for pipe in data['ASSETID']:
    if pipe in num_break:
        num_break[pipe] += 1
    else:
        num_break[pipe] = 1

In [14]:
data['NUM_BREAKS'] = data['ASSETID'].map(num_break)

In [15]:
data.sample(10)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS
2019,-80.503644,43.428491,10094,1574,2011-01-11,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,COMBINATION,Y,Y,Y,Y,Y,Y,CATEGORY 1,6573,GREENBROOK DR,89754,100.0,1958.0,DI,Y,1
470,-80.419997,43.388321,8476,1976,2014-01-12,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,22707,DOON VILLAGE RD,9960,450.0,1969.0,DI,Y,1
1661,-80.458772,43.479032,9722,1260,2008-12-01,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,40158,BRIDGE ST E,4510,300.0,1981.0,DI,Y,1
963,-80.455202,43.457606,8997,2032,2015-03-28,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,9937,MANCHESTER RD,76577,150.0,1955.0,DI,Y,1
1874,-80.463369,43.427808,9942,1598,2011-02-11,MAIN,REPAIR COMPLETED,FITTING/JOINT,COMBINATION,Y,Y,Y,Y,Y,Y,CATEGORY 1,9411,VANIER DR,39030,200.0,1953.0,CI,N,2
2182,-80.503563,43.414285,10260,2397,2018-11-29,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,9498,DINISON CRES,9340,150.0,1980.0,DI,Y,1
1849,-80.456449,43.421434,9916,1776,2012-12-31,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,21858,VANIER DR,39090,200.0,1961.0,CI,Y,2
109,-80.467097,43.451821,8102,247,1997-04-03,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,9881,DUMFRIES AVE,133956,150.0,2016.0,PVC,N,2
2188,-80.484372,43.469905,10266,2413,2019-01-15,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10381,LANCASTER ST W,23310,450.0,1937.0,CI,Y,6
1958,-80.507512,43.431460,10029,1090,2007-02-12,MAIN,REPAIR COMPLETED,CORROSION,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,20665,FOREST HILL DR,14930,150.0,1958.0,CI,Y,2

In [16]:
data.shape

(2544, 24)

In [17]:
data.NUM_BREAKS.sum()

8074

In [18]:
data['ASSET_YEAR_INSTALLED'] = pd.to_datetime(data['ASSET_YEAR_INSTALLED'], format='%Y').dt.date

In [19]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS
2016,-80.507548,43.424404,10091,1435,2010-01-06,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,COMBINATION,Y,Y,Y,Y,Y,Y,CATEGORY 1,6233,STONYBROOK DR,36510,150.0,1962-01-01,CI,Y,2
1697,-80.484476,43.476101,9758,876,2004-12-30,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,12415,LANCASTER ST W,23260,450.0,1968-01-01,DI,Y,3
2070,-80.445045,43.442807,10147,616,1998-01-24,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,13190,RENNIE DR,32160,150.0,1963-01-01,CI,Y,5
1449,-80.517867,43.423765,9501,972,2002-11-26,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6142,UPLANDS DR,38850,150.0,1974-01-01,CI,Y,4
312,-80.463668,43.451810,8313,293,1998-01-13,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,9926,DONALD ST,92920,150.0,1955-01-01,CI,Y,3

In [20]:
data['ASSET_YEAR_INSTALLED'].min()

datetime.date(1889, 1, 1)

In [21]:
data['ASSET_YEAR_INSTALLED'].max()

datetime.date(2018, 1, 1)

In [22]:
data['INCIDENT_DATE'].min()

datetime.date(1985, 1, 1)

In [23]:
data['AGE'] = (np.floor((pd.to_datetime(data['INCIDENT_DATE']) - 
                        pd.to_datetime(data['ASSET_YEAR_INSTALLED'])).dt.days / 365.25)).astype(int)

# the following code is something I found on stack overflow that
# helped me calculate the age in years of each pipe

# df['age'] = (np.floor((pd.to_datetime(df['dte']) - 
#              pd.to_datetime(dob)).dt.days / 365.25)).astype(int)

In [24]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS,AGE
644,-80.474784,43.467782,8659,2141,2015-08-13,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,N,CATEGORY 1,12658,SPRING VALLEY RD,35610,150.0,1924-01-01,CI,Y,3,91
1047,-80.456308,43.428551,9084,2189,2016-02-04,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10031,WILSON AVE,43480,200.0,1958-01-01,CI,Y,6,58
871,-80.461740,43.438103,8902,78,2004-07-04,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10070,KING ST E,21870,100.0,1937-01-01,CI,N,2,67
2117,-80.464922,43.461791,10195,2232,2016-12-13,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,15753,LOIS ST,24040,150.0,1952-01-01,CI,Y,1,64
1887,-80.434791,43.434355,9956,1161,2007-11-29,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,CORROSION,Y,Y,Y,Y,Y,Y,CATEGORY 1,23058,OBERMEYER DR,22530,150.0,1967-01-01,CI,Y,2,40

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LONGITUDE                    2544 non-null   float64
 1   LATITUDE                     2544 non-null   float64
 2   OBJECTID                     2544 non-null   int64
 3   WATBREAKINCIDENTID           2544 non-null   int64
 4   INCIDENT_DATE                2544 non-null   object
 5   BREAK_TYPE                   2544 non-null   object
 6   STATUS                       2544 non-null   object
 7   BREAK_NATURE                 2544 non-null   object
 8   BREAK_APPARENT_CAUSE         2544 non-null   object
 9   POSITIVE_PRESSURE_MAINTANED  2544 non-null   object
 10  AIR_GAP_MAINTANED            2544 non-null   object
 11  MECHANICAL_REMOVAL           2544 non-null   object
 12  FLUSHING_EXCAVATION          2544 non-null   object
 13  HIGHER_VELOCITY_FLUSHING     2544 non-null   object
 14  ANODE_INSTALLED              2544 non-null   object
 15  BREAK_CATEGORIZATION         2544 non-null   object
 16  ROADSEGMENTID                2544 non-null   int64
 17  STREET                       2544 non-null   object
 18  ASSETID                      2544 non-null   int64
 19  ASSET_SIZE                   2544 non-null   float64
 20  ASSET_YEAR_INSTALLED         2544 non-null   object
 21  ASSET_MATERIAL               2544 non-null   object
 22  ASSET_EXISTS                 2544 non-null   object
 23  NUM_BREAKS                   2544 non-null   int64
 24  AGE                          2544 non-null   int64
dtypes: float64(3), int64(6), object(16)
memory usage: 497.0+ KB

In [26]:
data.columns = data.columns.str.lower()

In [27]:
data.columns

Index(['longitude', 'latitude', 'objectid', 'watbreakincidentid',
       'incident_date', 'break_type', 'status', 'break_nature',
       'break_apparent_cause', 'positive_pressure_maintaned',
       'air_gap_maintaned', 'mechanical_removal', 'flushing_excavation',
       'higher_velocity_flushing', 'anode_installed', 'break_categorization',
       'roadsegmentid', 'street', 'assetid', 'asset_size',
       'asset_year_installed', 'asset_material', 'asset_exists', 'num_breaks',
       'age'],
      dtype='object')

In [28]:
data['status'].value_counts()

REPAIR COMPLETED       2526
CANCELLED                16
UNDER INVESTIGATION       2
Name: status, dtype: int64

In [29]:
data.drop('status', axis=1, inplace=True)

In [30]:
data['break_type'].value_counts()

MAIN       2524
SERVICE      20
Name: break_type, dtype: int64

In [31]:
data['break_nature'].value_counts()

UNKNOWN                                      1998
CIRCUMFERENTIAL                               338
CORROSION                                      72
FITTING/JOINT                                  50
LONGITUDINAL                                   29
CIRCUMFERENTIAL AND FITTING/JOINT              23
CORROSION AND CIRCUMFERENTIAL                  14
WATER SERVICE                                   6
CORROSION AND LONGITUDINAL                      6
CORROSION AND FITTING/JOINT                     5
FITTING/JOINT AND LONGITUDINAL                  2
CORROSION - ROBAR SADDLE CORRODED AT SEAM       1
Name: break_nature, dtype: int64

In [32]:
data['break_apparent_cause'].value_counts()

OTHER             1907
AGE                196
UNKNOWN            153
COMBINATION        141
CORROSION           98
SOILS               21
PRESSURE            21
FAULTY INSTALL       7
Name: break_apparent_cause, dtype: int64

In [33]:
data.sample(5)

,longitude,latitude,objectid,watbreakincidentid,incident_date,break_type,break_nature,break_apparent_cause,positive_pressure_maintaned,air_gap_maintaned,mechanical_removal,flushing_excavation,higher_velocity_flushing,anode_installed,break_categorization,roadsegmentid,street,assetid,asset_size,asset_year_installed,asset_material,asset_exists,num_breaks,age
2440,-80.431032,43.431434,32002,139934,2020-12-19,MAIN,CIRCUMFERENTIAL,UNKNOWN,Y,Y,Y,Y,Y,Y,CATEGORY 1,23060,JANSEN AVE,20580,150.0,1970-01-01,CI,Y,5,50
1701,-80.462633,43.455541,9762,292,2002-02-07,MAIN,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,9912,CAMBRIDGE AVE,5240,150.0,1955-01-01,CI,Y,1,47
211,-80.471342,43.451953,8208,140,2003-03-10,MAIN,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,9768,GLENDALE RD,133118,150.0,2016-01-01,PVC,N,6,-13
578,-80.470851,43.448545,8591,280,2003-03-14,MAIN,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,11482,STIRLING AVE N,133420,150.0,2014-01-01,PVCO,N,2,-11
2458,-80.489654,43.467870,33927,140298,2021-01-16,MAIN,CIRCUMFERENTIAL,CORROSION,Y,Y,N,Y,Y,Y,CATEGORY 1,10430,BOEHMER ST,80206,150.0,1952-01-01,CI,Y,1,69

We can see that we've got 7 columns where there are what we can call "binary" values - Y (yes) & N (no). We're going to one-hot encode these variables so we can start to put the data into proper modeling format but first, we'll double check to make sure that there are only 2 values for each column.

In [34]:
binary_cols = data[['positive_pressure_maintaned', 'air_gap_maintaned', 'mechanical_removal', 
                    'flushing_excavation', 'higher_velocity_flushing', 'anode_installed', 'asset_exists']]
for col in binary_cols:
    print(binary_cols[col].value_counts())

Y    2540
N       4
Name: positive_pressure_maintaned, dtype: int64
Y    2540
N       4
Name: air_gap_maintaned, dtype: int64
Y    2531
N      13
Name: mechanical_removal, dtype: int64
Y    2536
N       8
Name: flushing_excavation, dtype: int64
Y    2539
N       5
Name: higher_velocity_flushing, dtype: int64
Y    2500
N      44
Name: anode_installed, dtype: int64
Y    2005
N     539
Name: asset_exists, dtype: int64

In [35]:
binary_cols = ['positive_pressure_maintaned', 'air_gap_maintaned', 'mechanical_removal', 
                    'flushing_excavation', 'higher_velocity_flushing', 'anode_installed', 'asset_exists']

data = pd.get_dummies(data, columns=binary_cols, drop_first=True)

In [36]:
data.sample(5)

,longitude,latitude,objectid,watbreakincidentid,incident_date,break_type,break_nature,break_apparent_cause,break_categorization,roadsegmentid,street,assetid,asset_size,asset_year_installed,asset_material,num_breaks,age,positive_pressure_maintaned_Y,air_gap_maintaned_Y,mechanical_removal_Y,flushing_excavation_Y,higher_velocity_flushing_Y,anode_installed_Y,asset_exists_Y
1342,-80.505341,43.430783,9388,394,2003-02-28,MAIN,UNKNOWN,OTHER,CATEGORY 1,20667,FOREST HILL DR,14940,150.0,1958-01-01,CI,4,45,1,1,1,1,1,1,1
11,-80.514314,43.452619,7886,1407,2009-10-27,SERVICE,UNKNOWN,OTHER,CATEGORY 1,1249,GLASGOW ST,4736474,300.0,2017-01-01,PVC,1,-8,1,1,1,1,1,1,0
2001,-80.474375,43.459693,10075,1631,2011-07-02,MAIN,CORROSION,CORROSION,CATEGORY 1,12694,EDNA ST,59990,150.0,1950-01-01,CI,6,61,1,1,1,1,1,1,1
679,-80.474742,43.435142,8695,1388,2009-05-27,MAIN,UNKNOWN,OTHER,CATEGORY 1,9387,COURTLAND AVE E,78180,150.0,2015-01-01,PVC,4,-6,1,1,1,1,1,1,0
490,-80.505095,43.435747,8498,1065,2007-01-25,MAIN,UNKNOWN,OTHER,CATEGORY 1,6341,QUEENS BLVD,31770,150.0,1949-01-01,CI,5,58,1,1,1,1,1,1,1

In [37]:
binary_cols = data[['positive_pressure_maintaned_Y', 'air_gap_maintaned_Y', 'mechanical_removal_Y', 
                    'flushing_excavation_Y', 'higher_velocity_flushing_Y', 'anode_installed_Y', 'asset_exists_Y']]
for col in binary_cols:
    print(binary_cols[col].value_counts())

1    2540
0       4
Name: positive_pressure_maintaned_Y, dtype: int64
1    2540
0       4
Name: air_gap_maintaned_Y, dtype: int64
1    2531
0      13
Name: mechanical_removal_Y, dtype: int64
1    2536
0       8
Name: flushing_excavation_Y, dtype: int64
1    2539
0       5
Name: higher_velocity_flushing_Y, dtype: int64
1    2500
0      44
Name: anode_installed_Y, dtype: int64
1    2005
0     539
Name: asset_exists_Y, dtype: int64

In [38]:
data = data.rename(columns={'positive_pressure_maintaned_Y': 'positive_pressure_maintaned',
                            'air_gap_maintaned_Y': 'air_gap_maintaned',
                            'mechanical_removal_Y': 'mechanical_removal',
                            'flushing_excavation_Y': 'flushing_excavation',
                            'higher_velocity_flushing_Y': 'higher_velocity_flushing',
                            'anode_installed_Y': 'anode_installed',
                            'asset_exists_Y': 'asset_exists'})

Columns to transform still:
- break type
- break nature
- break apparent cause
- break categorization
- asset material
- maybe think about dropping the street name since that would only be for EDA use

In [39]:
cat_cols = data[['break_type', 'break_nature', 'break_apparent_cause',
                 'break_categorization', 'asset_material']]

for col in cat_cols:
    print(cat_cols[col].value_counts(), "\n" + "-"*55)

MAIN       2524
SERVICE      20
Name: break_type, dtype: int64
-------------------------------------------------------
UNKNOWN                                      1998
CIRCUMFERENTIAL                               338
CORROSION                                      72
FITTING/JOINT                                  50
LONGITUDINAL                                   29
CIRCUMFERENTIAL AND FITTING/JOINT              23
CORROSION AND CIRCUMFERENTIAL                  14
WATER SERVICE                                   6
CORROSION AND LONGITUDINAL                      6
CORROSION AND FITTING/JOINT                     5
FITTING/JOINT AND LONGITUDINAL                  2
CORROSION - ROBAR SADDLE CORRODED AT SEAM       1
Name: break_nature, dtype: int64
-------------------------------------------------------
OTHER             1907
AGE                196
UNKNOWN            153
COMBINATION        141
CORROSION           98
SOILS               21
PRESSURE            21
FAULTY INSTALL       7
Name: break_apparent_cause, dtype: int64
-------------------------------------------------------
CATEGORY 1    2440
UNKNOWN         96
CATEGORY 2       8
Name: break_categorization, dtype: int64
-------------------------------------------------------
CI      1575
DI       531
PVC      320
PVCO      60
CPP       19
XXX       14
HDPE      11
AC         9
PVCB       2
COP        2
PE         1
Name: asset_material, dtype: int64
-------------------------------------------------------

I'll break down what I'm thinking for how I'm going to encode these columns:

Break type is easy and I'll just one hot encode it or use `get_dummies`. Break nature is going to be a little trickier since it has high cardinality/dimensionality. I think I'm going to combine the features that have matching break nature as the first name for the feature. For example - `CIRCUMFERENTIAL AND FITTING/JOINT` will be added to `CIRCUMFERENTIAL`. `CORROSION` has a lot of subcategories and so all of those will be joined into the original `CORROSION` column. Lastly `FITTING/JOINT AND LONGITUDINAL` will be added to `FITTING/JOINT`.

For break apparent cause I'll add the `UNKNOWN` values into `OTHER` to be consistent since `OTHER` is the majority value.

Break categorization is relatively easy as well and I can OH encode them or use `get_dummies` again.

I'm currently doing some digging on the different asset materials to see what can be done for these values. I'm already doubting I can combine any since they represent unique pipe materials but maybe research will help turn something up.
- CI = Cast Iron
- DI = Ductile Iron
- PVC = Polyvinyl Chloride
- PVCO = Molecularly Oriented PVC
- CPP = Concrete Pressure Pipe
- XXX = this one is still a mystery
- HDPE = High-density Polyethylene
- AC = Asbestos Cement
- PVCB = not exactly sure what this could be. A google search turns up only these types of PVC pipes:
    - Unplasticized PVC (PVC-U)
    - Chlorinated PVC (C-PVC)
    - Molecularly oriented (PVC-O)
    - High-impact PVC (PVC-Hi)
- COP = Copper
- PE = polyethylene

In [46]:
data['break_nature'] = data['break_nature'].replace(['CIRCUMFERENTIAL AND FITTING/JOINT'], 'CIRCUMFERENTIAL')
data['break_nature'] = data['break_nature'].replace(['CORROSION AND CIRCUMFERENTIAL',
                                                         'CORROSION AND LONGITUDINAL',
                                                         'CORROSION AND FITTING/JOINT',
                                                         'CORROSION - ROBAR SADDLE CORRODED AT SEAM'], 'CORROSION')
data['break_nature'] = data['break_nature'].replace(['FITTING/JOINT AND LONGITUDINAL'], 'FITTING/JOINT')

In [47]:
data.break_nature.value_counts()

UNKNOWN            1998
CIRCUMFERENTIAL     361
CORROSION            98
FITTING/JOINT        52
LONGITUDINAL         29
WATER SERVICE         6
Name: break_nature, dtype: int64

In [48]:
data['break_apparent_cause'] = data['break_apparent_cause'].replace(['UNKNOWN'], 'OTHER')

In [49]:
data.break_apparent_cause.value_counts()

OTHER             2060
AGE                196
COMBINATION        141
CORROSION           98
SOILS               21
PRESSURE            21
FAULTY INSTALL       7
Name: break_apparent_cause, dtype: int64