In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

pd.set_option("display.max_columns", None)

In [54]:
data = pd.read_csv('../data/processed/cleaned_break_data.csv')
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,HOUR_IMPACTED,UNITS_IMPACTED,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,GLOBALID
2324,-80.443485,43.461642,10423,2436,2019-02-27 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,CIRCUMFERENTIAL,AGE,Y,Y,Y,Y,Y,Y,CATEGORY 1,15817,CONFEDERATION DR,7770,150.0,1966.0,CI,Y,8594cc08-03db-446e-a024-d8fefb9d422a
1141,-80.506482,43.436202,9178,1709,2011-12-06 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,CORROSION,COMBINATION,Y,Y,Y,Y,Y,Y,CATEGORY 1,20951,ADMIRAL RD,63320,150.0,1956.0,CI,Y,2b8c6255-050f-49d5-8d21-531a22505aba
1273,-80.418014,43.440964,9317,1036,1997-02-12 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,22429,FAIRWAY CRES,83836,150.0,1995.0,PVC,Y,58c5f2b9-3ea2-455a-95d8-c3874584183e
2507,-80.472340,43.457888,42241,142733,2021-08-09 15:18:35+00:00,MAIN,4-8 hours,0-50,REPAIR COMPLETED,LONGITUDINAL,AGE,Y,Y,N,Y,Y,Y,CATEGORY 1,40029,EDNA ST,57680,150.0,1955.0,CI,Y,c95b34f5-499e-40e0-93e3-f4f327e214f3
1190,-80.460504,43.437668,9228,1133,2007-05-18 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,CIRCUMFERENTIAL,AGE,Y,Y,Y,Y,Y,Y,CATEGORY 1,10070,KING ST E,21890,100.0,1937.0,CI,N,f87ce7fc-dffc-4590-ae89-28559879bc87

In [55]:
data.shape

(2544, 26)

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LONGITUDE                    2544 non-null   float64
 1   LATITUDE                     2544 non-null   float64
 2   OBJECTID                     2544 non-null   int64
 3   WATBREAKINCIDENTID           2544 non-null   int64
 4   INCIDENT_DATE                2544 non-null   object
 5   BREAK_TYPE                   2544 non-null   object
 6   HOUR_IMPACTED                2544 non-null   object
 7   UNITS_IMPACTED               2544 non-null   object
 8   STATUS                       2544 non-null   object
 9   BREAK_NATURE                 2544 non-null   object
 10  BREAK_APPARENT_CAUSE         2544 non-null   object
 11  POSITIVE_PRESSURE_MAINTANED  2544 non-null   object
 12  AIR_GAP_MAINTANED            2544 non-null   object
 13  MECHANICAL_REMOVAL           2544 non-null   object
 14  FLUSHING_EXCAVATION          2544 non-null   object
 15  HIGHER_VELOCITY_FLUSHING     2544 non-null   object
 16  ANODE_INSTALLED              2544 non-null   object
 17  BREAK_CATEGORIZATION         2544 non-null   object
 18  ROADSEGMENTID                2544 non-null   int64
 19  STREET                       2544 non-null   object
 20  ASSETID                      2544 non-null   int64
 21  ASSET_SIZE                   2544 non-null   float64
 22  ASSET_YEAR_INSTALLED         2544 non-null   float64
 23  ASSET_MATERIAL               2544 non-null   object
 24  ASSET_EXISTS                 2544 non-null   object
 25  GLOBALID                     2544 non-null   object
dtypes: float64(4), int64(4), object(18)
memory usage: 516.9+ KB

In [83]:
from datetime import datetime, date
data['INCIDENT_DATE'] = pd.to_datetime(data['INCIDENT_DATE']).dt.date

In [84]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS
509,-80.472017,43.455492,8517,1357,2009-01-29,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,11278,CHAPEL ST,6500,150.0,1953-01-01,CI,Y,4
1043,-80.474771,43.467758,9080,2185,2016-01-25,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,12658,SPRING VALLEY RD,35610,150.0,1924-01-01,CI,Y,3
346,-80.520059,43.431388,8347,1810,2013-11-18,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,COMBINATION,Y,Y,Y,Y,Y,Y,CATEGORY 1,20742,FURNESS DR,15830,150.0,1967-01-01,CI,Y,6
311,-80.465773,43.432062,8312,387,2000-03-06,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,13325,DIXON ST,76461,150.0,2010-01-01,PVC,N,2
492,-80.468568,43.446339,8500,121,2000-01-26,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10172,EAST AVE,11070,300.0,1949-01-01,CI,Y,2

Possible columns to drop:
- Global ID
- Units Impacted
- Hours Impacted
- possibly more after further analysis...

In [59]:
data['HOUR_IMPACTED'].value_counts()

8-12 hours     2384
4-8 hours       143
20-24 hours      10
16-20 hours       5
12-16 hours       2
Name: HOUR_IMPACTED, dtype: int64

In [60]:
data['UNITS_IMPACTED'].value_counts()

0            2354
0-50          182
50-100          3
100-150         2
200-10000       2
47              1
Name: UNITS_IMPACTED, dtype: int64

Can't really see these variables being too valuable for any sort of model so we can go ahead and remove them along with Global ID

In [61]:
data.drop(['GLOBALID', 'HOUR_IMPACTED', 'UNITS_IMPACTED'], axis=1, inplace=True)

In [62]:
data.isna().sum() # just double checking even though we already cleaned the data in our other notebook

LONGITUDE                      0
LATITUDE                       0
OBJECTID                       0
WATBREAKINCIDENTID             0
INCIDENT_DATE                  0
BREAK_TYPE                     0
STATUS                         0
BREAK_NATURE                   0
BREAK_APPARENT_CAUSE           0
POSITIVE_PRESSURE_MAINTANED    0
AIR_GAP_MAINTANED              0
MECHANICAL_REMOVAL             0
FLUSHING_EXCAVATION            0
HIGHER_VELOCITY_FLUSHING       0
ANODE_INSTALLED                0
BREAK_CATEGORIZATION           0
ROADSEGMENTID                  0
STREET                         0
ASSETID                        0
ASSET_SIZE                     0
ASSET_YEAR_INSTALLED           0
ASSET_MATERIAL                 0
ASSET_EXISTS                   0
dtype: int64

In [63]:
data['ASSET_MATERIAL'].value_counts()

CI      1575
DI       531
PVC      320
PVCO      60
CPP       19
XXX       14
HDPE      11
AC         9
PVCB       2
COP        2
PE         1
Name: ASSET_MATERIAL, dtype: int64

In [64]:
data['ASSETID'].nunique()

1309

In [65]:
num_break = {}

for pipe in data['ASSETID']:
    if pipe in num_break:
        num_break[pipe] += 1
    else:
        num_break[pipe] = 1

In [66]:
data['NUM_BREAKS'] = data['ASSETID'].map(num_break)

In [67]:
data.sample(10)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS
2269,-80.511413,43.441697,10353,204,2005-01-30,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,8752,EDGEWOOD DR,135920,150.0,2017.0,PVCO,N,1
1458,-80.503599,43.428267,9511,393,1997-02-05,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6243,FARMBROOK PL,14020,100.0,1958.0,DI,Y,1
2067,-80.526232,43.448619,10144,133,2003-09-14,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,1281,GLASGOW ST,96958,450.0,2014.0,PVC,N,1
2104,-80.455473,43.394657,10182,2219,2016-07-21,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,21777,BIEHN DR,142914,300.0,1975.0,AC,Y,1
1091,-80.525931,43.425101,9128,1233,2008-10-26,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,5619,ELM RIDGE DR,11830,250.0,1971.0,DI,Y,2
1105,-80.512332,43.426303,9142,478,2006-06-01,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6224,RIPPLEWOOD CRES,32320,150.0,1960.0,CI,Y,6
1318,-80.520398,43.417834,9364,1894,2014-03-30,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6208,GLEN LAKE CRES,16550,150.0,1969.0,CI,Y,4
2430,-80.448324,43.445170,29441,139314,2020-10-21,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,UNKNOWN,Y,Y,Y,Y,Y,Y,CATEGORY 1,23153,BRADLEY DR,3960,150.0,1965.0,CI,Y,2
1145,-80.515273,43.456353,9182,47,2002-07-23,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10663,PARK ST,76734,300.0,2010.0,PVC,N,1
2139,-80.521851,43.442180,10217,936,2003-12-24,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,1718,KARN ST,134694,150.0,2017.0,PVC,N,4

In [68]:
data.shape

(2544, 24)

In [69]:
data.NUM_BREAKS.sum()

8074

In [77]:
data['ASSET_YEAR_INSTALLED'] = pd.to_datetime(data['ASSET_YEAR_INSTALLED'], format='%Y').dt.date

In [78]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS
1670,-80.437744,43.458045,9731,715,2000-01-01,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,23176,INDIAN RD,20280,150.0,1967-01-01,CI,Y,3
1628,-80.438763,43.451071,9688,704,2001-06-24,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,11499,HOLBORN DR,19710,150.0,1967-01-01,DI,Y,1
1985,-80.447949,43.459278,10057,1084,2007-02-08,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,15863,CARSON DR,5620,200.0,1966-01-01,DI,Y,6
1333,-80.459231,43.457360,9379,1287,2001-12-30,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,9917,KENSINGTON AVE,21140,150.0,1954-01-01,CI,Y,4
2339,-80.505538,43.439726,10562,136194,2019-07-26,MAIN,REPAIR COMPLETED,UNKNOWN,CORROSION,Y,Y,Y,Y,Y,N,UNKNOWN,1699,MARLBOROUGH AVE,25510,25.0,1950-01-01,COP,Y,1

In [79]:
data['ASSET_YEAR_INSTALLED'].min()

datetime.date(1889, 1, 1)

In [80]:
data['ASSET_YEAR_INSTALLED'].max()

datetime.date(2018, 1, 1)

In [85]:
data['INCIDENT_DATE'].min()

datetime.date(1985, 1, 1)

In [86]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS
66,-80.464119,43.483130,8056,1863,2013-02-04,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,AGE,Y,Y,Y,Y,Y,Y,CATEGORY 1,13039,DANIEL AVE,8940,150.0,1964-01-01,CI,Y,6
1850,-80.528188,43.450281,9917,1062,2007-01-21,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL AND FITTING/JOINT,AGE,Y,Y,Y,Y,Y,Y,CATEGORY 1,8861,ABERDEEN RD,270,150.0,1958-01-01,CI,Y,2
277,-80.474160,43.471444,8278,976,2001-03-14,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,604217,UNKNOWN,32860,200.0,1974-01-01,DI,Y,1
1419,-80.460623,43.461310,9470,1716,2012-01-03,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,15746,ROSEMOUNT DR,33440,150.0,1959-01-01,CI,Y,3
637,-80.538522,43.415182,8652,2134,2015-06-19,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,21239,OLD FOREST CRES,86808,150.0,1980-01-01,DI,Y,1

In [88]:
data['AGE'] = (np.floor((pd.to_datetime(data['INCIDENT_DATE']) - 
                        pd.to_datetime(data['ASSET_YEAR_INSTALLED'])).dt.days / 365.25)).astype(int)

# the following code is something I found on stack overflow that
# helped me calculate the age in years of each pipe

# df['age'] = (np.floor((pd.to_datetime(df['dte']) - 
#              pd.to_datetime(dob)).dt.days / 365.25)).astype(int)

In [89]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS,AGE
1834,-80.459032,43.428828,9901,1761,2012-12-03,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,COMBINATION,Y,Y,Y,Y,Y,Y,CATEGORY 1,10031,WILSON AVE,84266,200.0,1958-01-01,CI,Y,1,54
1079,-80.470488,43.442490,9116,2099,2015-01-21,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,11697,BRICK ST,85890,150.0,1952-01-01,DI,Y,1,63
1432,-80.496408,43.423626,9484,896,2004-01-13,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6362,ELMSDALE DR,90496,200.0,1969-01-01,CI,Y,1,35
1284,-80.529391,43.446361,9328,1735,2012-02-17,MAIN,REPAIR COMPLETED,UNKNOWN,CORROSION,Y,Y,Y,Y,Y,Y,CATEGORY 1,8732,WESTWOOD CRES,42890,150.0,1966-01-01,CI,Y,6,46
12,-80.466331,43.478568,7887,1319,2006-12-04,SERVICE,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10476,SCHUELLER ST,4127031,25.0,2003-01-01,XXX,Y,1,3

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LONGITUDE                    2544 non-null   float64
 1   LATITUDE                     2544 non-null   float64
 2   OBJECTID                     2544 non-null   int64
 3   WATBREAKINCIDENTID           2544 non-null   int64
 4   INCIDENT_DATE                2544 non-null   object
 5   BREAK_TYPE                   2544 non-null   object
 6   STATUS                       2544 non-null   object
 7   BREAK_NATURE                 2544 non-null   object
 8   BREAK_APPARENT_CAUSE         2544 non-null   object
 9   POSITIVE_PRESSURE_MAINTANED  2544 non-null   object
 10  AIR_GAP_MAINTANED            2544 non-null   object
 11  MECHANICAL_REMOVAL           2544 non-null   object
 12  FLUSHING_EXCAVATION          2544 non-null   object
 13  HIGHER_VELOCITY_FLUSHING     2544 non-null   object
 14  ANODE_INSTALLED              2544 non-null   object
 15  BREAK_CATEGORIZATION         2544 non-null   object
 16  ROADSEGMENTID                2544 non-null   int64
 17  STREET                       2544 non-null   object
 18  ASSETID                      2544 non-null   int64
 19  ASSET_SIZE                   2544 non-null   float64
 20  ASSET_YEAR_INSTALLED         2544 non-null   object
 21  ASSET_MATERIAL               2544 non-null   object
 22  ASSET_EXISTS                 2544 non-null   object
 23  NUM_BREAKS                   2544 non-null   int64
 24  AGE                          2544 non-null   int64
dtypes: float64(3), int64(6), object(16)
memory usage: 497.0+ KB