In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

pd.set_option("display.max_columns", None)

In [2]:
data = pd.read_csv('../data/processed/cleaned_break_data.csv')
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,HOUR_IMPACTED,UNITS_IMPACTED,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,GLOBALID
1747,-80.448251,43.426051,9811,1413,2009-11-22 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10717,WOODHAVEN RD,43960,150.0,1954.0,CI,Y,0a8f4015-9c00-4dd3-9387-69d065aa40e3
2266,-80.500768,43.439534,10350,1668,1985-01-01 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,9202,VANCAMP AVE,135674,150.0,2018.0,PVC,N,1ab35d18-113c-47bb-b005-3fe58b92dee0
2179,-80.454812,43.460508,10257,2387,2018-11-07 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,15884,TANGLEWOOD AVE,37540,150.0,1958.0,CI,Y,479ae466-596c-47c8-93ce-a4fd65785fb0
616,-80.504481,43.425625,8629,1968,2014-01-16 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6564,STONYBROOK DR,36530,150.0,1958.0,CI,Y,1e7eca4d-8bb2-44fd-8773-2713936a355f
1361,-80.458614,43.450263,9409,408,2004-12-17 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,22914,LYNDHURST DR,24610,150.0,1958.0,CI,Y,9ab4ea81-744f-4059-bdee-2d990994ff59

In [3]:
data.shape

(2544, 26)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LONGITUDE                    2544 non-null   float64
 1   LATITUDE                     2544 non-null   float64
 2   OBJECTID                     2544 non-null   int64
 3   WATBREAKINCIDENTID           2544 non-null   int64
 4   INCIDENT_DATE                2544 non-null   object
 5   BREAK_TYPE                   2544 non-null   object
 6   HOUR_IMPACTED                2544 non-null   object
 7   UNITS_IMPACTED               2544 non-null   object
 8   STATUS                       2544 non-null   object
 9   BREAK_NATURE                 2544 non-null   object
 10  BREAK_APPARENT_CAUSE         2544 non-null   object
 11  POSITIVE_PRESSURE_MAINTANED  2544 non-null   object
 12  AIR_GAP_MAINTANED            2544 non-null   object
 13  MECHANICAL_REMOVAL           2544 non-null   object
 14  FLUSHING_EXCAVATION          2544 non-null   object
 15  HIGHER_VELOCITY_FLUSHING     2544 non-null   object
 16  ANODE_INSTALLED              2544 non-null   object
 17  BREAK_CATEGORIZATION         2544 non-null   object
 18  ROADSEGMENTID                2544 non-null   int64
 19  STREET                       2544 non-null   object
 20  ASSETID                      2544 non-null   int64
 21  ASSET_SIZE                   2544 non-null   float64
 22  ASSET_YEAR_INSTALLED         2544 non-null   float64
 23  ASSET_MATERIAL               2544 non-null   object
 24  ASSET_EXISTS                 2544 non-null   object
 25  GLOBALID                     2544 non-null   object
dtypes: float64(4), int64(4), object(18)
memory usage: 516.9+ KB

In [5]:
from datetime import datetime, date
data['INCIDENT_DATE'] = pd.to_datetime(data['INCIDENT_DATE']).dt.date

In [6]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,HOUR_IMPACTED,UNITS_IMPACTED,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,GLOBALID
219,-80.465442,43.412681,8216,967,2000-11-07,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,70267,FOUR SEASONS CRT,15190,150.0,1974.0,DI,Y,71000ee1-c8a9-4985-b949-f92d45b2ecad
2062,-80.418790,43.424761,10139,986,2005-09-11,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,22392,KING ST E,12950,150.0,1981.0,DI,Y,df5cae37-1241-4c75-aa47-005f02c3a730
1473,-80.445486,43.434694,9526,179,1999-11-28,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10780,ARLINGTON BLVD,900,150.0,1953.0,CI,Y,0a8c2f98-99cb-485b-93a6-7fdfd1ef83f7
683,-80.456308,43.432954,8699,227,1999-01-09,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,13306,SECOND AVE,90616,200.0,1953.0,CI,Y,65320d7d-cbb2-4f1c-93b8-ad9011208c81
11,-80.514314,43.452619,7886,1407,2009-10-27,SERVICE,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,1249,GLASGOW ST,4736474,300.0,2017.0,PVC,N,9b14718d-36b0-4db7-838b-8fbc71796e07

Possible columns to drop:
- Global ID
- Units Impacted
- Hours Impacted
- possibly more after further analysis...

In [7]:
data['HOUR_IMPACTED'].value_counts()

8-12 hours     2384
4-8 hours       143
20-24 hours      10
16-20 hours       5
12-16 hours       2
Name: HOUR_IMPACTED, dtype: int64

In [8]:
data['UNITS_IMPACTED'].value_counts()

0            2354
0-50          182
50-100          3
100-150         2
200-10000       2
47              1
Name: UNITS_IMPACTED, dtype: int64

Can't really see these variables being too valuable for any sort of model so we can go ahead and remove them along with Global ID

In [9]:
data.drop(['GLOBALID', 'HOUR_IMPACTED', 'UNITS_IMPACTED'], axis=1, inplace=True)

In [10]:
data.isna().sum() # just double checking even though we already cleaned the data in our other notebook

LONGITUDE                      0
LATITUDE                       0
OBJECTID                       0
WATBREAKINCIDENTID             0
INCIDENT_DATE                  0
BREAK_TYPE                     0
STATUS                         0
BREAK_NATURE                   0
BREAK_APPARENT_CAUSE           0
POSITIVE_PRESSURE_MAINTANED    0
AIR_GAP_MAINTANED              0
MECHANICAL_REMOVAL             0
FLUSHING_EXCAVATION            0
HIGHER_VELOCITY_FLUSHING       0
ANODE_INSTALLED                0
BREAK_CATEGORIZATION           0
ROADSEGMENTID                  0
STREET                         0
ASSETID                        0
ASSET_SIZE                     0
ASSET_YEAR_INSTALLED           0
ASSET_MATERIAL                 0
ASSET_EXISTS                   0
dtype: int64

In [11]:
data['ASSET_MATERIAL'].value_counts()

CI      1575
DI       531
PVC      320
PVCO      60
CPP       19
XXX       14
HDPE      11
AC         9
PVCB       2
COP        2
PE         1
Name: ASSET_MATERIAL, dtype: int64

In [12]:
data['ASSETID'].nunique()

1309

In [13]:
num_break = {}

for pipe in data['ASSETID']:
    if pipe in num_break:
        num_break[pipe] += 1
    else:
        num_break[pipe] = 1

In [14]:
data['NUM_BREAKS'] = data['ASSETID'].map(num_break)

In [15]:
data.sample(10)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS
1434,-80.434193,43.429955,9486,563,2006-01-31,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,22203,CENTREVILLE ST,6230,150.0,1962.0,CI,N,3
1700,-80.535880,43.442233,9761,916,2002-02-05,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,5510,WESTWOOD DR,42920,300.0,1969.0,DI,Y,3
1287,-80.432421,43.435337,9331,1738,2012-02-23,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,23065,THALER AVE,85016,150.0,1967.0,CI,Y,3
545,-80.454928,43.430736,8557,1958,2014-01-26,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,13298,FOURTH AVE,15200,150.0,1960.0,CI,Y,8
1736,-80.458607,43.423690,9800,333,1998-12-31,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10104,VANIER DR,69123,150.0,2009.0,PVC,N,2
1414,-80.449450,43.450244,9465,503,1999-01-16,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10211,HICKSON DR,18690,150.0,1960.0,CI,Y,1
1726,-80.422749,43.438736,9790,1652,2011-12-15,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,22442,FAIRWAY RD N,66040,600.0,1994.0,CPP,Y,1
1897,-80.441999,43.439753,9966,1628,2011-06-03,MAIN,REPAIR COMPLETED,LONGITUDINAL,UNKNOWN,Y,Y,Y,Y,Y,Y,CATEGORY 1,10776,GLENWOOD DR,16670,150.0,1965.0,CI,Y,2
1471,-80.517614,43.422491,9524,574,2005-12-06,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6143,FISCHER HALLMAN RD,14580,150.0,1962.0,CI,Y,6
1986,-80.510175,43.418320,10058,1604,2011-02-18,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL AND FITTING/JOINT,COMBINATION,Y,Y,Y,Y,Y,Y,CATEGORY 1,6293,VALLEYVIEW RD,38980,150.0,1953.0,CI,Y,2

In [16]:
data.shape

(2544, 24)

In [17]:
data.NUM_BREAKS.sum()

8074

In [18]:
data['ASSET_YEAR_INSTALLED'] = pd.to_datetime(data['ASSET_YEAR_INSTALLED'], format='%Y').dt.date

In [19]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS
1102,-80.448531,43.443075,9139,1236,2008-11-02,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,13241,DALEWOOD DR,8910,150.0,1967-01-01,DI,Y,1
2480,-80.438193,43.434857,37125,140780,2021-02-21,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,AGE,Y,Y,Y,Y,Y,Y,CATEGORY 1,10778,JEAN AVE,20610,150.0,1962-01-01,CI,Y,2
1083,-80.518896,43.430925,9120,827,1998-11-08,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,20741,BONNYLYN DR,3770,150.0,1967-01-01,CI,Y,4
1260,-80.517283,43.427594,9303,581,1999-12-14,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6185,FOREST HILL DR,14850,200.0,1962-01-01,CI,Y,2
1776,-80.485902,43.458958,9842,2124,2015-04-23,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,7044,BREITHAUPT ST,134402,300.0,2016-01-01,PVC,N,1

In [20]:
data['ASSET_YEAR_INSTALLED'].min()

datetime.date(1889, 1, 1)

In [21]:
data['ASSET_YEAR_INSTALLED'].max()

datetime.date(2018, 1, 1)

In [22]:
data['INCIDENT_DATE'].min()

datetime.date(1985, 1, 1)

In [23]:
data['AGE'] = (np.floor((pd.to_datetime(data['INCIDENT_DATE']) - 
                        pd.to_datetime(data['ASSET_YEAR_INSTALLED'])).dt.days / 365.25)).astype(int)

# the following code is something I found on stack overflow that
# helped me calculate the age in years of each pipe

# df['age'] = (np.floor((pd.to_datetime(df['dte']) - 
#              pd.to_datetime(dob)).dt.days / 365.25)).astype(int)

In [24]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS,AGE
2314,-80.449256,43.445966,10411,2424,2019-02-01,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,AGE,Y,Y,Y,Y,Y,Y,CATEGORY 1,23156,FRANKLIN ST N,15320,300.0,1964-01-01,DI,Y,2,55
309,-80.485730,43.483520,8310,1268,2003-03-11,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,12610,BRIDGE ST W,4530,150.0,1958-01-01,CI,Y,8,45
1746,-80.460610,43.424790,9810,440,2006-12-29,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10060,KIPLING AVE,22610,150.0,1959-01-01,CI,N,1,47
2085,-80.457141,43.425925,10162,183,1999-02-04,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,22970,BROADMOOR AVE,62530,150.0,1999-01-01,PVC,N,3,0
646,-80.472280,43.440367,8661,2143,2015-08-24,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,9238,MAURICE ST,25700,100.0,1922-01-01,CI,Y,1,93

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LONGITUDE                    2544 non-null   float64
 1   LATITUDE                     2544 non-null   float64
 2   OBJECTID                     2544 non-null   int64
 3   WATBREAKINCIDENTID           2544 non-null   int64
 4   INCIDENT_DATE                2544 non-null   object
 5   BREAK_TYPE                   2544 non-null   object
 6   STATUS                       2544 non-null   object
 7   BREAK_NATURE                 2544 non-null   object
 8   BREAK_APPARENT_CAUSE         2544 non-null   object
 9   POSITIVE_PRESSURE_MAINTANED  2544 non-null   object
 10  AIR_GAP_MAINTANED            2544 non-null   object
 11  MECHANICAL_REMOVAL           2544 non-null   object
 12  FLUSHING_EXCAVATION          2544 non-null   object
 13  HIGHER_VELOCITY_FLUSHING     2544 non-null   object
 14  ANODE_INSTALLED              2544 non-null   object
 15  BREAK_CATEGORIZATION         2544 non-null   object
 16  ROADSEGMENTID                2544 non-null   int64
 17  STREET                       2544 non-null   object
 18  ASSETID                      2544 non-null   int64
 19  ASSET_SIZE                   2544 non-null   float64
 20  ASSET_YEAR_INSTALLED         2544 non-null   object
 21  ASSET_MATERIAL               2544 non-null   object
 22  ASSET_EXISTS                 2544 non-null   object
 23  NUM_BREAKS                   2544 non-null   int64
 24  AGE                          2544 non-null   int64
dtypes: float64(3), int64(6), object(16)
memory usage: 497.0+ KB

In [26]:
data.columns = data.columns.str.lower()

In [27]:
data.columns

Index(['longitude', 'latitude', 'objectid', 'watbreakincidentid',
       'incident_date', 'break_type', 'status', 'break_nature',
       'break_apparent_cause', 'positive_pressure_maintaned',
       'air_gap_maintaned', 'mechanical_removal', 'flushing_excavation',
       'higher_velocity_flushing', 'anode_installed', 'break_categorization',
       'roadsegmentid', 'street', 'assetid', 'asset_size',
       'asset_year_installed', 'asset_material', 'asset_exists', 'num_breaks',
       'age'],
      dtype='object')

In [28]:
data['status'].value_counts()

REPAIR COMPLETED       2526
CANCELLED                16
UNDER INVESTIGATION       2
Name: status, dtype: int64

In [29]:
data.drop('status', axis=1, inplace=True)

In [30]:
data['break_type'].value_counts()

MAIN       2524
SERVICE      20
Name: break_type, dtype: int64

In [31]:
data['break_nature'].value_counts()

UNKNOWN                                      1998
CIRCUMFERENTIAL                               338
CORROSION                                      72
FITTING/JOINT                                  50
LONGITUDINAL                                   29
CIRCUMFERENTIAL AND FITTING/JOINT              23
CORROSION AND CIRCUMFERENTIAL                  14
WATER SERVICE                                   6
CORROSION AND LONGITUDINAL                      6
CORROSION AND FITTING/JOINT                     5
FITTING/JOINT AND LONGITUDINAL                  2
CORROSION - ROBAR SADDLE CORRODED AT SEAM       1
Name: break_nature, dtype: int64

In [32]:
data['break_apparent_cause'].value_counts()

OTHER             1907
AGE                196
UNKNOWN            153
COMBINATION        141
CORROSION           98
SOILS               21
PRESSURE            21
FAULTY INSTALL       7
Name: break_apparent_cause, dtype: int64

In [33]:
data.sample(5)

,longitude,latitude,objectid,watbreakincidentid,incident_date,break_type,break_nature,break_apparent_cause,positive_pressure_maintaned,air_gap_maintaned,mechanical_removal,flushing_excavation,higher_velocity_flushing,anode_installed,break_categorization,roadsegmentid,street,assetid,asset_size,asset_year_installed,asset_material,asset_exists,num_breaks,age
2158,-80.483935,43.433262,10236,365,1999-01-13,MAIN,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,11414,MEINZINGER AVE,134846,150.0,2016-01-01,PVC,N,5,-17
1421,-80.452601,43.437901,9472,1719,2012-01-09,MAIN,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10055,PROSPECT AVE,87978,150.0,1953-01-01,CI,Y,2,59
2028,-80.474909,43.468015,10103,1146,2007-09-24,MAIN,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,12658,SPRING VALLEY RD,35600,150.0,1924-01-01,CI,Y,3,83
1810,-80.459642,43.437360,9876,2284,2017-08-29,MAIN,UNKNOWN,OTHER,Y,Y,Y,Y,Y,N,CATEGORY 1,10070,KING ST E,21890,100.0,1937-01-01,CI,N,3,80
113,-80.507821,43.432262,8106,328,2004-09-16,MAIN,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,20668,GATEWOOD RD,15930,450.0,1956-01-01,CI,Y,1,48

We can see that we've got 7 columns where there are what we can call "binary" values - Y (yes) & N (no). We're going to one-hot encode these variables so we can start to put the data into proper modeling format but first, we'll double check to make sure that there are only 2 values for each column.

In [34]:
binary_cols = data[['positive_pressure_maintaned', 'air_gap_maintaned', 'mechanical_removal', 
                    'flushing_excavation', 'higher_velocity_flushing', 'anode_installed', 'asset_exists']]
for col in binary_cols:
    print(binary_cols[col].value_counts())

Y    2540
N       4
Name: positive_pressure_maintaned, dtype: int64
Y    2540
N       4
Name: air_gap_maintaned, dtype: int64
Y    2531
N      13
Name: mechanical_removal, dtype: int64
Y    2536
N       8
Name: flushing_excavation, dtype: int64
Y    2539
N       5
Name: higher_velocity_flushing, dtype: int64
Y    2500
N      44
Name: anode_installed, dtype: int64
Y    2005
N     539
Name: asset_exists, dtype: int64

In [37]:
binary_cols = ['positive_pressure_maintaned', 'air_gap_maintaned', 'mechanical_removal', 
                    'flushing_excavation', 'higher_velocity_flushing', 'anode_installed', 'asset_exists']

data = pd.get_dummies(data, columns=binary_cols, drop_first=True)

In [39]:
data.sample(5)

,longitude,latitude,objectid,watbreakincidentid,incident_date,break_type,break_nature,break_apparent_cause,break_categorization,roadsegmentid,street,assetid,asset_size,asset_year_installed,asset_material,num_breaks,age,positive_pressure_maintaned_Y,air_gap_maintaned_Y,mechanical_removal_Y,flushing_excavation_Y,higher_velocity_flushing_Y,anode_installed_Y,asset_exists_Y
120,-80.451192,43.423018,8113,1362,2009-02-05,MAIN,UNKNOWN,OTHER,CATEGORY 1,21842,WOODHAVEN RD,43920,150.0,1954-01-01,CI,1,55,1,1,1,1,1,1,1
546,-80.494490,43.412827,8558,1959,2014-01-26,MAIN,UNKNOWN,OTHER,CATEGORY 1,9142,RADCLIFFE DR,32020,200.0,1974-01-01,DI,1,40,1,1,1,1,1,1,1
443,-80.521437,43.424081,8445,637,1998-11-23,MAIN,UNKNOWN,OTHER,CATEGORY 1,6184,FOREST HILL DR,14780,200.0,1964-01-01,DI,1,34,1,1,1,1,1,1,1
161,-80.466151,43.465711,8156,1412,2009-11-20,MAIN,UNKNOWN,OTHER,CATEGORY 1,603815,SHIRLEY AVE,32900,300.0,1960-01-01,CI,4,49,1,1,1,1,1,1,1
1172,-80.464584,43.451505,9209,294,2000-12-08,MAIN,UNKNOWN,OTHER,CATEGORY 1,9926,DONALD ST,92920,150.0,1955-01-01,CI,3,45,1,1,1,1,1,1,1

In [40]:
binary_cols = data[['positive_pressure_maintaned_Y', 'air_gap_maintaned_Y', 'mechanical_removal_Y', 
                    'flushing_excavation_Y', 'higher_velocity_flushing_Y', 'anode_installed_Y', 'asset_exists_Y']]
for col in binary_cols:
    print(binary_cols[col].value_counts())

1    2540
0       4
Name: positive_pressure_maintaned_Y, dtype: int64
1    2540
0       4
Name: air_gap_maintaned_Y, dtype: int64
1    2531
0      13
Name: mechanical_removal_Y, dtype: int64
1    2536
0       8
Name: flushing_excavation_Y, dtype: int64
1    2539
0       5
Name: higher_velocity_flushing_Y, dtype: int64
1    2500
0      44
Name: anode_installed_Y, dtype: int64
1    2005
0     539
Name: asset_exists_Y, dtype: int64

In [41]:
data = data.rename(columns={'positive_pressure_maintaned_Y': 'positive_pressure_maintaned',
                            'air_gap_maintaned_Y': 'air_gap_maintaned',
                            'mechanical_removal_Y': 'mechanical_removal',
                            'flushing_excavation_Y': 'flushing_excavation',
                            'higher_velocity_flushing_Y': 'higher_velocity_flushing',
                            'anode_installed_Y': 'anode_installed',
                            'asset_exists_Y': 'asset_exists'})

Columns to transform still:
- break type
- break nature
- break apparent cause
- break categorization
- asset material
- maybe think about dropping the street name since that would only be for EDA use

In [49]:
cat_cols = data[['break_type', 'break_nature', 'break_apparent_cause',
                 'break_categorization', 'asset_material']]

for col in cat_cols:
    print(cat_cols[col].value_counts(), "\n" + "-"*55)

MAIN       2524
SERVICE      20
Name: break_type, dtype: int64
-------------------------------------------------------
UNKNOWN                                      1998
CIRCUMFERENTIAL                               338
CORROSION                                      72
FITTING/JOINT                                  50
LONGITUDINAL                                   29
CIRCUMFERENTIAL AND FITTING/JOINT              23
CORROSION AND CIRCUMFERENTIAL                  14
WATER SERVICE                                   6
CORROSION AND LONGITUDINAL                      6
CORROSION AND FITTING/JOINT                     5
FITTING/JOINT AND LONGITUDINAL                  2
CORROSION - ROBAR SADDLE CORRODED AT SEAM       1
Name: break_nature, dtype: int64
-------------------------------------------------------
OTHER             1907
AGE                196
UNKNOWN            153
COMBINATION        141
CORROSION           98
SOILS               21
PRESSURE            21
FAULTY INSTALL       7
Name: break_apparent_cause, dtype: int64
-------------------------------------------------------
CATEGORY 1    2440
UNKNOWN         96
CATEGORY 2       8
Name: break_categorization, dtype: int64
-------------------------------------------------------
CI      1575
DI       531
PVC      320
PVCO      60
CPP       19
XXX       14
HDPE      11
AC         9
PVCB       2
COP        2
PE         1
Name: asset_material, dtype: int64
-------------------------------------------------------

I'll break down what I'm thinking for how I'm going to encode these columns:

Break type is easy and I'll just one hot encode it or use `get_dummies`. Break nature is going to be a little trickier since it has high cardinality/dimensionality. I think I'm going to combine the features that have matching break nature as the first name for the feature. For example - `CIRCUMFERENTIAL AND FITTING/JOINT` will be added to `CIRCUMFERENTIAL`. `CORROSION` has a lot of subcategories and so all of those will be joined into the original `CORROSION` column. Lastly `FITTING/JOINT AND LONGITUDINAL` will be added to `FITTING/JOINT`.

For break nature I'll add the `UNKNOWN` values into `OTHER` to be consistent since `OTHER` is the majority value.

Break categorization is relatively easy as well and I can OH encode them or use `get_dummies` again.

I'm currently doing some digging on the different asset materials to see what can be done for these values. I'm already doubting I can combine any since they represent unique pipe materials but maybe research will help turn something up.
- CI = Cast Iron
- DI = Ductile Iron
- PVC = Polyvinyl Chloride
- PVCO = Molecularly Oriented PVC
- CPP = Concrete Pressure Pipe
- XXX = this one is still a mystery
- HDPE = High-density Polyethylene
- AC = Asbestos Cement
- PVCB = not exactly sure what this could be. A google search turns up only these types of PVC pipes:
    - Unplasticized PVC (PVC-U)
    - Chlorinated PVC (C-PVC)
    - Molecularly oriented (PVC-O)
    - High-impact PVC (PVC-Hi)
- COP = Copper
- PE = polyethylene