In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

pd.set_option("display.max_columns", None)

In [70]:
data = pd.read_csv('../data/processed/cleaned_break_data.csv')
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,HOUR_IMPACTED,UNITS_IMPACTED,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,GLOBALID
208,-80.530168,43.422424,8205,956,2000-10-02 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,5420,AUTUMN HILL CRES,1190,150.0,1973.0,DI,Y,251d0008-f0da-49c1-94f8-51b1a808b772
626,-80.457585,43.425893,8639,185,2001-01-06 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,22970,BROADMOOR AVE,4710,150.0,2008.0,PVC,N,f401746e-ea48-4899-8b43-5805b49b237f
230,-80.497414,43.412315,8228,995,2000-11-09 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,9144,GRAYWOOD CRT,17080,150.0,1977.0,DI,Y,3ea9a06c-a92e-461b-9a83-8fe49db077ad
2344,-80.514044,43.447397,10571,136203,2019-08-25 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,AGE,Y,Y,Y,Y,Y,Y,UNKNOWN,1254,BELMONT AVE W,87898,150.0,1965.0,CI,Y,62169389-c0ac-42f1-9932-47341706b2e9
2139,-80.521851,43.442180,10217,936,2003-12-24 00:00:00+00:00,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,1718,KARN ST,134694,150.0,2017.0,PVC,N,26cc6304-4948-4d5c-ac59-0afaf0c1d39c

In [71]:
data.shape

(2544, 26)

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LONGITUDE                    2544 non-null   float64
 1   LATITUDE                     2544 non-null   float64
 2   OBJECTID                     2544 non-null   int64
 3   WATBREAKINCIDENTID           2544 non-null   int64
 4   INCIDENT_DATE                2544 non-null   object
 5   BREAK_TYPE                   2544 non-null   object
 6   HOUR_IMPACTED                2544 non-null   object
 7   UNITS_IMPACTED               2544 non-null   object
 8   STATUS                       2544 non-null   object
 9   BREAK_NATURE                 2544 non-null   object
 10  BREAK_APPARENT_CAUSE         2544 non-null   object
 11  POSITIVE_PRESSURE_MAINTANED  2544 non-null   object
 12  AIR_GAP_MAINTANED            2544 non-null   object
 13  MECHANICAL_REMOVAL           2544 non-null   object
 14  FLUSHING_EXCAVATION          2544 non-null   object
 15  HIGHER_VELOCITY_FLUSHING     2544 non-null   object
 16  ANODE_INSTALLED              2544 non-null   object
 17  BREAK_CATEGORIZATION         2544 non-null   object
 18  ROADSEGMENTID                2544 non-null   int64
 19  STREET                       2544 non-null   object
 20  ASSETID                      2544 non-null   int64
 21  ASSET_SIZE                   2544 non-null   float64
 22  ASSET_YEAR_INSTALLED         2544 non-null   float64
 23  ASSET_MATERIAL               2544 non-null   object
 24  ASSET_EXISTS                 2544 non-null   object
 25  GLOBALID                     2544 non-null   object
dtypes: float64(4), int64(4), object(18)
memory usage: 516.9+ KB

In [73]:
from datetime import datetime, date
data['INCIDENT_DATE'] = pd.to_datetime(data['INCIDENT_DATE']).dt.date

In [74]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,HOUR_IMPACTED,UNITS_IMPACTED,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,GLOBALID
5,-80.529766,43.424988,7878,1312,1998-08-11,SERVICE,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,5421,WESTHEIGHTS DR,4104575,25.0,1974.0,XXX,Y,0c575f03-7d3f-44ea-b691-d33a969c4428
1126,-80.468159,43.428960,9163,2106,2015-01-14,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,N,CATEGORY 1,10863,COURTLAND AVE E,8420,300.0,1967.0,CI,Y,2549b9e3-41fc-4a18-9bd6-a0afde212687
1570,-80.470049,43.448651,9629,120,2005-02-07,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10169,EAST AVE,11060,300.0,1949.0,CI,N,0cd67af2-1099-452b-abf7-6b5760c2afe4
1268,-80.520047,43.418841,9311,1406,2009-10-27,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6128,FORESTWOOD DR,15030,150.0,1968.0,DI,Y,aeab482e-78a1-4e46-902e-b6dd5717d417
1385,-80.497205,43.412353,9435,996,2004-05-05,MAIN,8-12 hours,0,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,9144,GRAYWOOD CRT,17080,150.0,1977.0,DI,Y,83b07c8c-63e3-472c-9221-cb3e75cf2edb

Possible columns to drop:
- Global ID
- Units Impacted
- Hours Impacted
- possibly more after further analysis...

In [75]:
data['HOUR_IMPACTED'].value_counts()

8-12 hours     2384
4-8 hours       143
20-24 hours      10
16-20 hours       5
12-16 hours       2
Name: HOUR_IMPACTED, dtype: int64

In [76]:
data['UNITS_IMPACTED'].value_counts()

0            2354
0-50          182
50-100          3
100-150         2
200-10000       2
47              1
Name: UNITS_IMPACTED, dtype: int64

Can't really see these variables being too valuable for any sort of model so we can go ahead and remove them along with Global ID

In [77]:
data.drop(['GLOBALID', 'HOUR_IMPACTED', 'UNITS_IMPACTED'], axis=1, inplace=True)

In [78]:
data.isna().sum() # just double checking even though we already cleaned the data in our other notebook

LONGITUDE                      0
LATITUDE                       0
OBJECTID                       0
WATBREAKINCIDENTID             0
INCIDENT_DATE                  0
BREAK_TYPE                     0
STATUS                         0
BREAK_NATURE                   0
BREAK_APPARENT_CAUSE           0
POSITIVE_PRESSURE_MAINTANED    0
AIR_GAP_MAINTANED              0
MECHANICAL_REMOVAL             0
FLUSHING_EXCAVATION            0
HIGHER_VELOCITY_FLUSHING       0
ANODE_INSTALLED                0
BREAK_CATEGORIZATION           0
ROADSEGMENTID                  0
STREET                         0
ASSETID                        0
ASSET_SIZE                     0
ASSET_YEAR_INSTALLED           0
ASSET_MATERIAL                 0
ASSET_EXISTS                   0
dtype: int64

In [79]:
data['ASSET_MATERIAL'].value_counts()

CI      1575
DI       531
PVC      320
PVCO      60
CPP       19
XXX       14
HDPE      11
AC         9
PVCB       2
COP        2
PE         1
Name: ASSET_MATERIAL, dtype: int64

In [80]:
data['ASSETID'].nunique()

1309

In [81]:
num_break = {}

for pipe in data['ASSETID']:
    if pipe in num_break:
        num_break[pipe] += 1
    else:
        num_break[pipe] = 1

In [82]:
data['NUM_BREAKS'] = data['ASSETID'].map(num_break)

In [83]:
data.sample(10)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS
1925,-80.521741,43.426478,9995,1078,2007-02-03,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6180,FISCHER HALLMAN RD,68711,150.0,2009.0,PVC,N,2
1427,-80.482470,43.484053,9479,1002,2003-11-24,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,13056,HILLCREST CRT,19490,150.0,1981.0,DI,Y,1
313,-80.513685,43.420520,8314,618,1998-11-20,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6228,RUSKVIEW RD,33750,150.0,1963.0,CI,Y,1
243,-80.489599,43.468116,8242,1079,2007-02-03,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10427,BOEHMER ST,3680,150.0,1949.0,CI,Y,3
1732,-80.449812,43.425998,9796,569,1997-12-14,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,22960,CAIT AVE,5190,150.0,1962.0,CI,Y,1
1247,-80.500070,43.451189,9288,670,2005-01-30,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,8795,JOSEPH ST,20670,200.0,1965.0,CI,Y,3
1769,-80.460966,43.465468,9834,1441,2010-01-14,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,AGE,Y,Y,Y,Y,Y,Y,CATEGORY 1,9919,VICTORIA ST N,39600,200.0,1963.0,CI,Y,3
252,-80.441987,43.442381,8252,1713,2011-12-12,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,COMBINATION,Y,Y,Y,Y,Y,Y,CATEGORY 1,13197,RENNIE DR,32170,150.0,1963.0,CI,Y,5
697,-80.478420,43.462113,8715,1274,1997-02-10,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6972,JOHNSTON ST,20620,150.0,1951.0,CI,Y,7
1403,-80.460883,43.433239,9454,302,1999-02-04,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,13316,PLYMOUTH RD,76727,150.0,2010.0,PVC,N,3

In [62]:
data.shape

(2544, 24)

In [63]:
data.NUM_BREAKS.sum()

8074

In [84]:
data['ASSET_YEAR_INSTALLED'] = pd.to_datetime(data['ASSET_YEAR_INSTALLED']).dt.date

In [85]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS
1776,-80.485902,43.458958,9842,2124,2015-04-23,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,7044,BREITHAUPT ST,134402,300.0,2016-01-01,PVC,N,1
455,-80.516794,43.426765,8460,610,1999-01-08,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,6111,CYPRUS DR,8780,150.0,1963-01-01,CI,Y,2
2363,-80.501183,43.428789,14401,185804,2019-12-05,MAIN,REPAIR COMPLETED,UNKNOWN,UNKNOWN,Y,Y,Y,Y,Y,Y,UNKNOWN,6346,GREENBROOK DR,17260,200.0,1957-01-01,CI,Y,1
1625,-80.465428,43.428009,9685,242,2002-12-03,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,9405,WALTON AVE,40390,200.0,1953-01-01,CI,Y,4
2042,-80.469740,43.442948,10118,1110,2007-03-06,MAIN,REPAIR COMPLETED,FITTING/JOINT,AGE,Y,Y,Y,Y,Y,Y,CATEGORY 1,11696,OTTAWA ST N,29200,150.0,1952-01-01,CI,Y,12

In [86]:
data['WATBREAKINCIDENTID'].nunique()

2544

In [87]:
data['OBJECTID'].nunique()

2544

In [92]:
asset_breaks = data[['ASSETID', 'NUM_BREAKS']].drop_duplicates()

In [94]:
asset_breaks.sample(25)

      ASSETID  NUM_BREAKS
1780    10690           2
266     38510           1
115     18320           2
2348    95448           1
494     37220           4
1079    85890           1
493     11060           2
1922    43540           2
1326    21730           2
800      9520           2
2002    98278           1
2187    10930           1
2040    37280           1
1448    73850           1
807     33660           2
2219    11510           1
1304    40750           2
238    133896           2
448      5370           1
1751    88992           1
447     18160           3
625     76027           1
345     37070           2
233      6500           4
747     36660           1

In [95]:
asset_breaks.shape

(1309, 2)

In [104]:
data['ASSET_YEAR_INSTALLED'].min()

datetime.date(1889, 1, 1)

In [105]:
data['ASSET_YEAR_INSTALLED'].max()

datetime.date(2018, 1, 1)

In [106]:
data['INCIDENT_DATE'].min()

datetime.date(1985, 1, 1)

In [107]:
for year in data['ASSET_YEAR_INSTALLED']:
    for incident in data['INCIDENT_DATE']:
        data['AGE'] = incident - year

In [108]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS,AGE
2192,-80.516862,43.446506,10270,2415,2019-01-04,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,1257,GAGE AVE,15840,300.0,1969-01-01,CI,Y,4,25588 days
1616,-80.451947,43.443148,9675,833,2004-01-30,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10194,DALEWOOD DR,90282,150.0,1967-01-01,DI,Y,1,25588 days
1764,-80.505929,43.438080,9829,1638,2011-12-15,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,20958,BELMONT AVE W,2270,450.0,1950-01-01,CI,Y,1,25588 days
472,-80.427697,43.390080,8478,1978,2014-01-10,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,50156,UNKNOWN,91992,200.0,1977-01-01,DI,Y,1,25588 days
877,-80.490813,43.474974,8909,2000,2014-08-20,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,12376,LANG CRES,89608,150.0,1961-01-01,CI,N,1,25588 days

In [110]:
data['AGE'].nunique()

1

In [111]:
data.drop('AGE', axis=1, inplace=True)

In [112]:
data.sample(5)

,LONGITUDE,LATITUDE,OBJECTID,WATBREAKINCIDENTID,INCIDENT_DATE,BREAK_TYPE,STATUS,BREAK_NATURE,BREAK_APPARENT_CAUSE,POSITIVE_PRESSURE_MAINTANED,AIR_GAP_MAINTANED,MECHANICAL_REMOVAL,FLUSHING_EXCAVATION,HIGHER_VELOCITY_FLUSHING,ANODE_INSTALLED,BREAK_CATEGORIZATION,ROADSEGMENTID,STREET,ASSETID,ASSET_SIZE,ASSET_YEAR_INSTALLED,ASSET_MATERIAL,ASSET_EXISTS,NUM_BREAKS
1559,-80.440549,43.448181,9618,792,2000-02-07,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,23240,CONWAY DR,7950,150.0,1966-01-01,CI,Y,4
1630,-80.488568,43.469833,9690,132,2003-03-21,MAIN,REPAIR COMPLETED,UNKNOWN,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10442,EDWIN ST,11600,150.0,1950-01-01,CI,Y,2
2051,-80.470394,43.453321,10127,1554,2010-12-19,MAIN,REPAIR COMPLETED,FITTING/JOINT,COMBINATION,Y,Y,Y,Y,Y,Y,CATEGORY 1,11274,KRUG ST,26270,150.0,1953-01-01,CI,N,3
43,-80.464034,43.460233,8032,1835,2013-03-21,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,AGE,Y,Y,Y,Y,Y,Y,CATEGORY 1,15895,LOIS ST,33410,150.0,1958-01-01,CI,Y,4
1898,-80.457756,43.422155,9967,1100,2007-02-19,MAIN,REPAIR COMPLETED,CIRCUMFERENTIAL,OTHER,Y,Y,Y,Y,Y,Y,CATEGORY 1,10104,VANIER DR,86546,200.0,2008-01-01,PVC,N,2